.main {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.nameheader{

    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: antiquewhite;
    width: 200px;
    margin-left: 100px;
    box-shadow: 10px 10px 5px rgba(10, 11, 10, 0.5);
}

.form {
    width: 400px; /* Adjust as needed */
    background-color: lightblue;
    box-shadow: 12px 12px 5px rgba(10, 11, 10, 0.5);
    margin-bottom: 40px;
    
    
}

.field {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
}



input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #0b0101;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    width: 100%; /* Adjust button width */
    padding: 10px 20px; /* Adjust button padding */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 8px;
}

button:hover {
    background-color: #0056b3;
}