.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
  
    
    
}
.box
{
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    justify-content: center;
   width: 400px;
   
}


.icon-left {

   background-color: cornflowerblue;
   border-radius: 100px;
    width: 35px; /* Fixed width for the left icon */
    height: 35px; /* Fixed height for the left icon */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
   
}

.content{
    
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fabfbf;
    border-radius: 5px;
    margin-left: 8px;
    width: 80%; /* Ensure content takes up full width */
    justify-content: space-between;

}

.right-content {
    margin-left: 30px;
    flex-grow: 1; /* Allow right-content to grow */
    overflow: hidden; 
}

.name,
.email {
    margin-bottom: 5px;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis for overflow text */
    white-space: nowrap; 
    
}

.name {
    font-weight: bold;
}


.icon-right
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 238, 233);
    width: 20px; /* Fixed width for the left icon */
    height: 20px; 
    border-radius: 5px;
    margin-right: 20px;
    
}

.icon-right:hover {
    background-color: rgb(12, 1, 1); /* Color when hovered */
    
}

.icon-right i {
    cursor: pointer ; /* Add pointer cursor on hover */
}

.icon-right i:hover {
    color: rgb(239, 242, 244); /* Color when hovered */
}


@media only screen and (max-width: 480px) {
    .box {
        width: 80%; /* Full width for mobile view */
        padding: 0 10px; /* Add some padding for better spacing */
    }

    .right-content {
        margin-left: 10px; /* Reduce margin for mobile view */
    }

    .icon-left {
        width: 30px; /* Adjust width for mobile view */
        height: 30px; /* Adjust height for mobile view */
    }

    .icon-right {
        width: 15px; /* Adjust width for mobile view */
        height: 15px; /* Adjust height for mobile view */
    }
}






